.keyboard {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 1060px
}

.textarea {
  width: 1060px;
  height: 240px;
  padding: 24px 40px;
  box-sizing: border-box;
  border: 4px solid #ccc;
  background-color: #f8f8f8;
  font-size: 32px;
  resize: none;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 233, 230);
  color: black;
  height: 60px;
  width: 60px;
  border-radius: 6px;
  font-size: 26px;
  transition: all 0.1s;
  user-select: none;
}

.button__additional {
  position: absolute;
  left: 6px;
  top: 0;
  font-size: 24px;
}

.button--pink {
  background-color: rgb(255, 183, 233);
  color: rgb(40, 40, 40);
}

.button--small {
  width: 66px;
}

.button--medium {
  width: 90px;
}

.button--large {
  width: 130px;
}

.button--exstra-large {
  width: 142px;
}

.button--exstra-exstra-large {
  width: 212px;
}

.button--space {
  width: 432px;
}

.button--active {
  background-color: rgb(48, 112, 249);
  transform: scale(0.9);
}

.hint {
  background-color: gainsboro;
  font-size: 28px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(61, 61, 61);
  width: 500px;
  height: 100px;
}